Main{
    background-color: rgb(68, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: medium;
}

aside{
    background-color: rgb(168, 49, 36);
}

footer{
    background-color: seagreen;
}